[Unit]
Description=Flannel networking
Documentation=https://github.com/coreos/flannel
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/flanneld \
  --etcd-endpoints=https://{{ etcd_host }}:2379 \
  --etcd-keyfile=/var/lib/kubernetes/kubernetes-key.pem \
  --etcd-certfile=/var/lib/kubernetes/kubernetes.pem \
  --etcd-cafile=/var/lib/kubernetes/ca.pem \
  -v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
