apiVersion: v1
kind: ConfigMap
metadata:
  name: deployer-config
data:
  config.yaml: |-
    incluster: True
    namespace: quobyte
    version: '1.3.16'
    kubernetes_files: '/deployer/quobyte'
    registry:
        nodes: 3
    metadata:
        nodes: 3
    client:
        mount_opts: '-o user_xattr'
    api:
        resources:
            limits:
                memory: 2Gi
                cpu: 500mi
            requests:
                memory: 2Gi
                cpu: 500mi
    default:
        nodes:
            - all
        resources:
            limits:
                memory: 4Gi
                cpu: 1
            requests:
                memory: 4Gi
                cpu: 1
